<mat-expansion-panel [expanded]="false">
   <mat-expansion-panel-header>
      <mat-panel-title>
         Reidentification
      </mat-panel-title>
   </mat-expansion-panel-header>

  <mat-grid-list cols="8" rowHeight="70px">

   <!-- Key for Reidentification -->
   <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-form-field style = "width: 80%">
         <input matInput [formControl]="key" placeholder="Identification Key" value="">
      </mat-form-field>
   </mat-grid-tile>

   <!-- Fields to reidentify -->
   <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-form-field style = "width: 80%">
         <mat-label>Identify</mat-label>
         <mat-select [formControl]="identify" multiple>
           <mat-option *ngFor="let data of dataToIdentify" [value]="data[0]">{{ data[1] }}</mat-option>
         </mat-select>
      </mat-form-field>
   </mat-grid-tile>

</mat-grid-list>

   <mat-action-row>
      <mat-progress-spinner [style.display] = "FLAGS.isDeidentificationInProgress ? 'block': 'none'"
         [color]="service.color"
         [mode]="service.mode"
         [value]="service.value"
         [diameter]="service.diameter">
      </mat-progress-spinner>
      <button [disabled]="FLAGS.isDeidentificationInProgress" (click)="identifyData()" mat-stroked-button>Submit</button>
   </mat-action-row>

</mat-expansion-panel>