<mat-expansion-panel [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         Deidentification
      </mat-panel-title>
   </mat-expansion-panel-header>

  <!-- File for deidentification -->
   <button type="button" mat-stroked-button (click)="fileInput.click()" style="width: 10%">Choose File</button>
   <span id = "filename" style = "padding-left: 10px"></span>
   <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">

   <!-- Key generated after deidentification -->
   <div [style.display]="FLAGS.isKeyGenerated ? 'block': 'none'" style = "margin-top: 5px">
      Key:<span style="padding: 0 10px">{{ key }}</span>
      <button mat-icon-button (click)="copyKeyToClipboard()">
         <mat-icon>content_copy</mat-icon>
      </button>
   </div>

   <mat-action-row>
      <mat-progress-spinner [style.display]= "FLAGS.isDeidentificationInProgress ? 'block': 'none'"
         [color]="service.color"
         [mode]="service.mode"
         [value]="service.value"
         [diameter]="service.diameter">
      </mat-progress-spinner>
      <button mat-stroked-button [disabled]="FLAGS.isDeidentificationInProgress" (click)="getDeIdentifiedData()">Submit</button>
   </mat-action-row>

</mat-expansion-panel>