{% extends "admin/base.html" %}

{% block content %}
<div class="ui container">
   <div class="ui unstackable items">
      <div class="item">
         <div class="image">
            <img src="https://fomantic-ui.com/images/wireframe/image.png">
         </div>
         <div class="content">
            <a class="header">Watchmen</a>
            <div class="meta">
               <span class="cinema">IFC</span>
            </div>
            <div class="description">
               <p></p>
            </div>
            <div class="extra">
               <div class="ui right floated primary button">
               Buy tickets
               <i class="right chevron icon"></i>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}