<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.e8b2ef8f1d891acbc5a8.css') }}"></head>
<body style = "background: #eeeeee">
  <app-root></app-root>
<script src="{{ url_for('static', filename='runtime-es2015.e8a2810b3b08d6a1b6aa.js') }}" type="module"></script><script src="{{ url_for('static', filename='runtime-es5.e8a2810b3b08d6a1b6aa.js') }}" nomodule defer></script><script src="{{ url_for('static', filename='polyfills-es5.2b9ce34c123ac007a8ba.js') }}" nomodule defer></script><script src="{{ url_for('static', filename='polyfills-es2015.0ef207fb7b4761464817.js') }}" type="module"></script><script src="{{ url_for('static', filename='main-es2015.c5c2e644a7a4a3d73469.js') }}" type="module"></script><script src="{{ url_for('static', filename='main-es5.c5c2e644a7a4a3d73469.js') }}" nomodule defer></script></body>
</html>
